/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}; */

:root {
  --background: #282a36;
  --start-screen-bg: #6273a4f8;
  --subtle: #6272a4;
  --pink: #ff79c6;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --blue: #8be9fd;
  --plain: #f8f8f2;

  --day-sky1: #4687d8;
  --day-sky2: #7fafde;

  --cloud1: #f5f5f7;
  --cloud2: #a1b5c7;
  --cloud-font: #3b3b3b;

  --rain1: #51606b;
  --rain2: #97999d;

  --night1: #0b192b;
  --night2: #013a60;
  --night-cloud: hsl(204, 24%, 30%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-color: var(--background); */
  background-color: #013a6000;
  color: var(--plain);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.gradient {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}

.gradient.day {
  opacity: 1;
  background-image: linear-gradient(var(--day-sky1), var(--day-sky2));
}

.gradient.cloud {
  background-image: linear-gradient(var(--cloud1), var(--cloud2));
}

body.cloud {
  color: var(--cloud-font);
}

.gradient.rain {
  background-image: linear-gradient(var(--rain1), var(--rain2));
}

.gradient.night {
  background-image: linear-gradient(var(--night1), var(--night2));
}

.gradient.night-cloud {
  background-image: linear-gradient(var(--night1), var(--night-cloud), var(--night2));

}

.location-input {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

#loc {
  box-sizing: border-box;
  appearance: none;
  border: none;
  line-height: 1.2rem;
  /* width: 150px; */
  width: 100%;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 90%;
  background-color: rgb(232, 240, 254);
  /* position: relative; */
}

#loc:focus {
  outline: 1px solid lightblue;
}

.loc-input-field {
  position: relative;
  min-width: 30px;
  /* min-width: max-content; */
  container-type: inline-size;
  transition: all 0.3s;
  opacity: 0.3;
}

.loc-input-field:hover,
.loc-input-field:has(#loc:focus) {
  min-width: 150px;
  opacity: 1;
}

.search-icon {
  background-color: rgb(232, 240, 254);
  position: absolute;
  height: 18px;
  right: 5px;
  top: 4px;
}

.search-icon img {
  height: 100%;
  width: 100%;
}

@container (max-width: 20px) {
  .search-icon {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 1.2rem;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    border-radius: 20px;
  }

}

.country-input {
  display: none;
  visibility: hidden;
  width: 100%;
}

.suggestion-box-container {
  position: relative;
}

.suggestion-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width:200px;
  border-radius: 10px;
  overflow: hidden;
}

.loc-suggestion {
  width: 100%;
  background-color: white;
  padding: 5px 8px;
  appearance: none;
  border: none;
  text-align: left;
}

.loc-suggestion:focus {
  outline: none;
  background-color: hsl(210, 59%, 90%);
  border-left: 3px solid var(--day-sky2);
}

.loc-suggestion:hover {
  background-color: hsl(210, 59%, 90%);
}

.current-weather .current-weather-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.current-location {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.current-temp {
  font-size: 4rem;
  font-weight: 100;
  margin-right: -10px;
}

.current-description {
  font-size: 1rem;
  font-weight: 200;
}

.current-weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  height: 200px;
}

.icon {
  height: 80%;
}

.forecast-display {
  display: flex;
  gap: 10px;
}

.day-display {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  width: 15vw;
  align-items: center;
}

.day-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.low-high {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .forecast-display {
    flex-direction: column;
    width: 80vw;
    gap: 0;
  }

  .day-display {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    border-bottom: 0.5px solid var(--day-sky1);
    padding: 8px 0px;
  }

  .day-icon {
    height: 30px;
  }

  .low-high {
    flex-direction: row;
    gap: 16px;
  }

}