/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}; */

:root {
  --settings-width: 300px;

  --background: #282a36;
  --start-screen-bg: #6273a4f8;
  --subtle: #6272a4;
  --pink: #ff79c6;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --blue: #8be9fd;
  --plain: #f8f8f2;

  --day-sky1: #4687d8;
  --day-sky2: #7fafde;

  --cloud1: #f5f5f7;
  --cloud2: #a1b5c7;
  --cloud-font: #3b3b3b;

  --rain1: #51606b;
  --rain2: #97999d;

  --night1: #0b192b;
  --night2: #013a60;
  --night-cloud: hsl(204, 24%, 30%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: #013a6000;
  color: var(--plain);
}

.site-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: min(75px, 8%) auto 1fr;
  align-items: center;
  justify-items: center;
  overflow-x: hidden;
}

.gradient {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
}

.gradient.day {
  opacity: 1;
  background-image: linear-gradient(var(--day-sky1), var(--day-sky2));
}

.gradient.cloud {
  background-image: linear-gradient(var(--cloud1), var(--cloud2));
}

.site-wrapper.cloud {
  color: var(--cloud-font);
}

.gradient.rain {
  background-image: linear-gradient(var(--rain1), var(--rain2));
}

.gradient.night {
  background-image: linear-gradient(var(--night1), var(--night2));
}

.gradient.night-cloud {
  background-image: linear-gradient(var(--night1), var(--night-cloud), var(--night2));

}

.location-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: min-content;
  width: max-content;
}

.location-input.post {
  top: 8px;
  left: 8px;
  bottom: auto;
  right: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
}

ul {
  list-style: none;
}

#loc {
  box-sizing: border-box;
  appearance: none;
  border: none;
  line-height: 1.2rem;
  width: 100%;
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 90%;
  background-color: rgb(232, 240, 254);
}

#loc:focus {
  outline: 1px solid lightblue;
}

.loc-input-field {
  min-width: 150px;
  position: relative;
  transition: all 0.3s;
}

.location-input.post .loc-input-field {
  min-width: 30px;
  container-type: inline-size;
  opacity: 0.3;
}

.location-input.post .loc-input-field:hover,
.location-input.post .loc-input-field:has(#loc:focus) {
  min-width: 150px;
  opacity: 1;
}

.loc-input-field:hover .suggestion-box-container,
.loc-input-field:has(#loc:focus) .suggestion-box-container {
  display: block;
}


.search-icon {
  background-color: rgba(232, 240, 254, 0);
  position: absolute;
  height: 18px;
  right: 5px;
  top: 4px;
}

.search-icon img {
  height: 100%;
  width: 100%;
}

@container (max-width: 50px) {
  .search-icon {
    position: absolute;
    width: 30px;
    height: 1.2rem;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
  }
  #loc::placeholder {
    opacity: 0;
  }
  
  .loc-input-field #loc {
      color: rgba(0, 0, 0, 0);
    }
}

.suggestion-box-container {
  position: relative;
  display: none;
}

.suggestion-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width:200px;
  border-radius: 10px;
  overflow: hidden;
}

.loc-suggestion {
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px 8px;
  appearance: none;
  border: none;
  text-align: left;
}

.loc-suggestion:focus {
  outline: none;
  background-color: hsl(210, 59%, 90%);
  border-left: 3px solid var(--day-sky2);
}

.loc-suggestion:hover {
  background-color: hsl(210, 59%, 90%);
}

.current-weather {
  margin-right: calc(100% - 100vw);
  grid-row: 2 / 3;
}

.current-weather .current-weather-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
}

.current-location {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.current-temp {
  font-size: 4rem;
  font-weight: 100;
  margin-right: -10px;
}

.current-description {
  font-size: 1rem;
  font-weight: 200;
}

.current-weather-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  height: 200px;
}

.icon {
  height: 95%;
}

.forecast {
  margin-right: calc(100% - 100vw);
  grid-row: 3 / 4;
  align-self: baseline;
}

.forecast-display {
  display: flex;
  gap: 10px;
}

.day-display {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  width: 15vw;
  align-items: center;
}

.day-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.low-high {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  font-weight: 200;
}

.settings {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(232, 240, 254, 0.95);
  width: var(--settings-width);
  height: 100%;
  transition: 0.3s;
  color: var(--cloud-font);
  z-index: 1;
}

.settings.hidden {
  translate: var(--settings-width);
}

.cog-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 8px;
  width: 25px;
  height: 30px;
  background-color: rgb(232, 240, 254);
  opacity: 0.3;
  border-radius: 20px 0px 0px 20px;
  transition: 0.3s;
  cursor: pointer;
}

.settings.hidden .cog-icon-container {
  translate: -25px;
}

.cog-icon {
  width: 18px;
  height: 18px;
}

.settings-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-container li {
  display: grid;
  grid-template: 1fr auto / 1fr 20px;
}

.settings-container li label {
  grid-area: 1 / 1 / 2 / 2;
}

.advanced-search input {
  grid-area: 2 / 1 / 3 / 2;
  box-sizing: border-box;
  appearance: none;
  border: none;
  line-height: 1.2rem;
  border-radius: 10px;
  width: 100%;
  padding: 4px 6px;
  cursor: pointer;
}

.settings-container li input:focus {
  outline: 1px solid lightblue;
}

.settings-container li button {
  grid-area: 2 / 2 / 3 / 4;
  appearance: none;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  opacity: 0.5;
}

.settings-container li button:hover {
  opacity: 1;
}

.settings-container .no-display {
  display: none;
}

.settings-container h4 {
  margin: 15px 0 6px;
}

.more-info {
  position: absolute;
  bottom: 20px;
  right: -20px;
  width: 20px;
  height: 20px;
  appearance: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  opacity: 0.1;
  cursor: pointer;
}

.current-weather:hover .more-info {
  opacity: 0.5;
}

.more-info-list {
  color: var(--plain);
  font-size: 1rem;
  font-weight: 200;
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(6, 1fr);
  border-radius: 20px;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  gap: 1vw;
}

.more-info-list li {
  display: grid;
  grid-template: 1fr 1fr / 20px 2fr;
  align-items: center;
  justify-items: center;
  background-color: #0b192b2d;
  border-radius: 20px;
  padding: 8px;
}

.more-info-list li img {
  grid-area: 1 / 1 / 2 / 2;
  height: 20px;
  justify-self: left;
}

.more-info-list li span:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: left;
  margin-left: 4px;
}

.more-info-list li span:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
  font-weight: 300;
}

.site-wrapper.cloud .more-info {
  opacity: 1;
}

.collapse {
  max-height: 0;
}

@media only screen and (max-width: 600px) {
  :root {
    --settings-width: 100vw;
  }
  .site-wrapper {
    grid-template-rows: 30px auto 1fr;
  }

  .forecast-display {
    flex-direction: column;
    width: 80vw;
    gap: 0;
  }

  .day-display {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 45% 35%;
    border-bottom: 0.5px solid var(--day-sky1);
    padding: 8px 0px;
  }

  .day-icon {
    height: 30px;
  }

  .low-high {
    flex-direction: row;
    gap: 16px;
  }

  .more-info-list {
    width: min(70vw, 300px);
    grid-template: repeat(6, 40px) / 1fr;
    gap: 0px;
    margin-bottom: 16px;
  }
  
  .more-info-list li {
    width: 100%;
    display: grid;
    grid-template: 1fr / 1fr 2fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: #0b192b00;
    padding: 0;
  }
  
  .more-info-list li img {
    height: 20px;
    justify-self: right;
  }
  
  .more-info-list li span:nth-child(2) {
    justify-self: left;
    margin-left: 30px;
  }
  
  .more-info-list li span:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }

  .site-wrapper.cloud .more-info-list {
    background-color: #0b192b2d;
  }

}

.settings-select li:first-child {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.settings-select li label {
  grid-area: 1 / 1 / 2 / -1;
}

.settings-select .imperial {
  grid-area: 2 / 1 / 3 / 2;
  font-size: 0.8rem;
  z-index: 1;
  pointer-events: none;
  color: var(--plain);
}

.settings-select:has(#units-toggle:checked) .metric {
  color: var(--plain);
}

.settings-select:has(#units-toggle:checked) .imperial {
  color: var(--cloud-font);
}

#units-toggle {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  grid-area: 2 / 1 / 3 / -1;
  position: relative;
  appearance: none;
  cursor: pointer;
}

#units-toggle:before {
  content: '';
  box-sizing: border-box;
  background-color: var(--day-sky1);
  width: 50%;
  height: 26px;
  position: absolute;
  border-radius: 30px;
  top:2px;
  left: 2px;
  transition: 0.3s;
}

#units-toggle:checked:before {
  translate: 95%;
}

.settings-select .metric {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 0.8rem;
  z-index: 1;
  pointer-events: none;
}